.search-image {
    max-width:  30px;
    max-height: 30px;
}

.submit {
    margin-bottom: 40px;
    margin-left:  -25px;
}

.temperature {
    font-size:   50px;
    font-weight: bold;
    width:       150px;
}

.location {
    font-size: 30px;
    width:     100%;
    width:     150px;
}

.humidity-icon {
    margin-top:  15px;
    margin-left: 20px;
    height:      30px;
}

#humidity {
    margin-left: 10px;  
}

.icon-main {
    margin-top: 10px;
    height:     85px;
    width:      85px;
}

 .day {
    font-size: 30px;
    font-weight: bold;
}

.loc-card{
    font-size: 20px;
}

.card {
    margin: 25px auto;
}

.main-forecast {
    margin: 10px auto;
}

.card-blocks {
    margin: 60px auto;
}

.gitCat {
    margin-top: 15px ;
    height:     40px;
    width:      40px;
}

.celcFaren{
    margin-left:   50px;
    margin-bottom: 70px;
}

.celc {
    
    font-size:  25px;
    min-width:  50px;
    min-height: 50px;
}

.faren {
    margin-left: 5px;
    font-size:  25px;
    min-width:  50px;
    min-height: 50px;
}

.add-city {
    margin: 5px auto;
}